<!-- $Id: start.htm 17216 2011-01-19 06:03:12Z liubo $ -->
{include file="pageheader.htm"}
<!-- directory install start -->
<ul id="cloud_list" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
 
</ul>
<!-- start header -->
<style type="text/css">
	#header-div {
		background: #1b9ad5;
		border-bottom: 1px solid #118ec9; height:83px;
		background: #2E637C;
		position: relative;
	}

	#logo-div {
		margin-left: 8px;
		margin-top: 21px;
		width: 262px;
		height: 45px;
		float: left;
	}

	#license-div {
		height: 50px;
		float: left;
		text-align:center;
		vertical-align:middle;
		line-height:50px;
	}

	#license-div a:visited, #license-div a:link {
		color: #EB8A3D;
	}

	#license-div a:hover {
		text-decoration: none;
		color: #EB8A3D;
	}
	#loading-div {
		clear: right;
		text-align: right;
		display: block;
	}
	#submenu-div {
		text-align: center;
		width: 1000px;
		position: absolute;
		right: 0px;
		height: 84px;
	}

	#submenu-div ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	#submenu-div li {
		float: right;
		width: 82px;
		height: 82px;
		border-left: 1px solid #27aae7;
		border-right: 1px solid #0779ba;
		border:none;
	}
	#submenu-div li a {
		text-align: center;
		height: 74px;
		width: 82px;
		padding-top: 8px;
		display: block;
		text-decoration: none;
		color: #FFF;
	}
	#submenu-div li a:hover {
		background: url(images/muneBG.JPG) repeat-x top center;
	}
	#submenu-div li span {
		margin-top: 6px;
		display: block;
	}
	#submenu-div li img {
		margin: auto;
		display: block;
	}
	#menu-div {
		background: #0e92d0;
		height: 42px;
	}
	#menu-div ul {
		margin: 0px 0px 0px 15px;
		padding: 0;
		list-style-type: none;
	}
	#menu-div ul li {
		float: left;
		display: block;
		height: 42px;
		line-height: 42px;
		position: relative;
	}
	.muneFG {
		height: 13px;
		width: 0px;
		border-right: 1px solid #15aae3;
		margin-top: 15px;
		*margin-top:-18px;
		_margin-top: 0px;
		border-left: 1px solid #08679f;
		display: inline-block;
	}
	#menu-div ul li a {
		float: LEFT;
		color: #FFF;
		padding: 0px 12px;
		display: block;
		text-decoration: none;
		_margin-top: 14px;
	}
	#menu-div ul li a:hover {
		background: #1887bb
	}
	#menu-div ul li a span {
		margin-left: 10px;
	}
	#menu-div ul li div.drop_menu{
		height:180px; width:160px;border:1px solid #e5e5e5; background:#f4f4f4; position:absolute;left:0;top:42px; z-index:1000;
	}
	.num {
		width: 32px;
		height: 16px;
		background: url(images/index-11_22.png) no-repeat scroll;
		display: inline-block;
		line-height: 16px;
		vertical-align: middle;
		text-align: center;
	}
	#menu-div ul li a img {
		border: none;
	}
	#menu-div ul li ul {
		display: none;
	}
	#menu-div ul li:hover a {
		color: #fff;
		background: #1887bb;
	}
	#menu-div ul li:hover ul {
		display: block;
		position: absolute;
		top: 42px;
		left: -15px;
	}
	#menu-div ul li:hover ul li {
		border-bottom: 1px solid #11689c;
		border-top: #1f9dd1 1px solid;
	}
	#menu-div ul li:hover ul li a {
		width: 133px;
		display: block;
	}
	#menu-div ul li:hover ul li a:hover {
		width: 133px;
		display: block;
		background: #1480b3;
	}
	#menu-div ul li:hover ul li a.hide {
		background: #6a3;
		color: #fff;
	}
	#menu-div ul li:hover ul li:hover a.hide {
		background: #6fc;
		color: #fff;
	}
	#menu-div li.fix-spacer {
		border: none;
	}
	.menuSerach {
		width: 237px;
		height: 15px;
		float: right;
		margin-right: 18px;
		margin-top: -35px;
		_width: 240px;
	}

	#logo-div {
		display: none;
	}
</style>
<div id="header-div">
	<div id="logo-div" style="bgcolor:#000000;"><img src="images/topLogo.jpg" alt="ECSHOP - power for e-commerce" /></div>
	<div id="license-div" style="bgcolor:#000000;"></div>
	<div id="submenu-div">
		<ul>
			<li><a href="privilege.php?act=logout" target="main-frame"><img src="images/topmune_08.png" style="border:none;"/><span>{$lang.signout}</span></a></li>
			<li><a href="index.php?act=clear_cache" target="main-frame" class="fix-submenu"><img src="images/qingchu.png" style="border:none;"/><span>{$lang.clear_cache}</span></a></li>
			<li><a href="http://www.ecmoban.com/ecshop_jieshao.html" target="main-frame"><img src="images/topmune_07.png" style="border:none;"/><span>{$lang.about}</span></a></li>

			<li><a href="javascript:web_address();"><img src="images/topmune_007.png" style="border:none;"/><span>{$lang.help}</span></a></li>
			<li><a href="../" target="_blank"><img src="images/topmune_06.png" style="border:none;"/><span>{$lang.preview}</span></a></li>
			<li><a href="message.php?act=list" target="main-frame"><img src="images/topmune_05.png" style="border:none;"/><span>{$lang.view_message}</span></a></li>
			<li><a href="privilege.php?act=modif" target="main-frame"><img src="images/topmune_04.png" style="border:none;"/><span>{$lang.profile}</span></a></li>
			<li><a href="javascript:window.top.frames['main-frame'].document.location.reload();window.top.frames['header-frame'].document.location.reload()"><img src="images/topmune_03.png" style="border:none;"/><span>{$lang.refresh}</span></a></li>
			<li><a href="#"  onclick="ShowToDoList()"><img src="images/topmune_02.png" style="border:none;"/><span>{$lang.todolist}</span></a></li>

			<li style=""><a href="index.php?act=first" target="main-frame"><img src="images/topmune_01.png" style="border:none;"/><span>{$lang.shop_guide}</span></a></li>
			<li style="width:102px;border-left:none;"><a href="http://www.ecmoban.com" target="main-frame" style="color:#ff0; width:102px; font-weight:bold;"><img src="images/topmune_09.png" style="border:none;"/><span>更多模板堂产品</span></a></li>
		</ul>
		<div id="send_info" style="padding: 5px 10px 0 0; clear:right;text-align: right; color: #FF9900;width:40%;float: right;  display:none;">
			{if $send_mail_on eq 'on'}
				<span id="send_msg"><img src="images/top_loader.gif" width="16" height="16" alt="{$lang.loading}" style="vertical-align: middle" /> {$lang.email_sending}</span>
				<a href="javascript:;" onClick="Javascript:switcher()" id="lnkSwitch" style="margin-right:10px;color: #FF9900;text-decoration: underline">{$lang.pause}</a>
			{/if}
			<a href="index.php?act=clear_cache" target="main-frame" class="fix-submenu">{$lang.clear_cache}</a>
			<a href="privilege.php?act=logout" target="_top" class="fix-submenu">{$lang.signout}</a>
		</div>
		{if $send_mail_on eq 'on'}
			<script type="text/javascript" charset="gb2312">
				var sm = window.setInterval("start_sendmail()", 5000);
				var finished = 0;
				var error = 0;
				var conti = "{$lang.conti}";
				var pause = "{$lang.pause}";
				var counter = 0;
				var str = "{$lang.str}";
				{literal}
				function start_sendmail()
				{
					Ajax.call('index.php?is_ajax=1&act=send_mail','', start_sendmail_Response, 'GET', 'JSON');
				}
				function start_sendmail_Response(result)
				{
					if (typeof(result.count) == 'undefined')
					{
						result.count = 0;
						result.message = '';
					}
					if (typeof(result.count) != 'undefined' && result.count == 0)
					{
						counter --;
						document.getElementById('lnkSwitch').style.display = "none";
						window.clearInterval(sm);
					}

					if( typeof(result.goon) != 'undefined' )
					{
						start_sendmail();
					}

					counter ++ ;

					document.getElementById('send_msg').innerHTML = result.message;
				}
				function switcher()
				{
					if(document.getElementById('lnkSwitch').innerHTML == conti)
					{
						//do pause
						document.getElementById('lnkSwitch').innerHTML = pause;
						sm = window.setInterval("start_sendmail()", 5000);
					}
					else
					{
						//do continue
						document.getElementById('lnkSwitch').innerHTML = conti;
						document.getElementById('send_msg').innerHTML = sprintf(str, counter);
						window.clearInterval(sm);
					}
				}



				sprintfWrapper = {

					init : function () {

						if (typeof arguments == "undefined") { return null; }
						if (arguments.length < 1) { return null; }
						if (typeof arguments[0] != "string") { return null; }
						if (typeof RegExp == "undefined") { return null; }

						var string = arguments[0];
						var exp = new RegExp(/(%([%]|(\-)?(\+|\x20)?(0)?(\d+)?(\.(\d)?)?([bcdfosxX])))/g);
						var matches = new Array();
						var strings = new Array();
						var convCount = 0;
						var stringPosStart = 0;
						var stringPosEnd = 0;
						var matchPosEnd = 0;
						var newString = '';
						var match = null;

						while (match = exp.exec(string)) {
							if (match[9]) { convCount += 1; }

							stringPosStart = matchPosEnd;
							stringPosEnd = exp.lastIndex - match[0].length;
							strings[strings.length] = string.substring(stringPosStart, stringPosEnd);

							matchPosEnd = exp.lastIndex;
							matches[matches.length] = {
								match: match[0],
								left: match[3] ? true : false,
								sign: match[4] || '',
								pad: match[5] || ' ',
								min: match[6] || 0,
								precision: match[8],
								code: match[9] || '%',
								negative: parseInt(arguments[convCount]) < 0 ? true : false,
								argument: String(arguments[convCount])
							};
						}
						strings[strings.length] = string.substring(matchPosEnd);

						if (matches.length == 0) { return string; }
						if ((arguments.length - 1) < convCount) { return null; }

						var code = null;
						var match = null;
						var i = null;

						for (i=0; i<matches.length; i++) {

							if (matches[i].code == '%') { substitution = '%' }
							else if (matches[i].code == 'b') {
								matches[i].argument = String(Math.abs(parseInt(matches[i].argument)).toString(2));
								substitution = sprintfWrapper.convert(matches[i], true);
							}
							else if (matches[i].code == 'c') {
								matches[i].argument = String(String.fromCharCode(parseInt(Math.abs(parseInt(matches[i].argument)))));
								substitution = sprintfWrapper.convert(matches[i], true);
							}
							else if (matches[i].code == 'd') {
								matches[i].argument = String(Math.abs(parseInt(matches[i].argument)));
								substitution = sprintfWrapper.convert(matches[i]);
							}
							else if (matches[i].code == 'f') {
								matches[i].argument = String(Math.abs(parseFloat(matches[i].argument)).toFixed(matches[i].precision ? matches[i].precision : 6));
								substitution = sprintfWrapper.convert(matches[i]);
							}
							else if (matches[i].code == 'o') {
								matches[i].argument = String(Math.abs(parseInt(matches[i].argument)).toString(8));
								substitution = sprintfWrapper.convert(matches[i]);
							}
							else if (matches[i].code == 's') {
								matches[i].argument = matches[i].argument.substring(0, matches[i].precision ? matches[i].precision : matches[i].argument.length)
								substitution = sprintfWrapper.convert(matches[i], true);
							}
							else if (matches[i].code == 'x') {
								matches[i].argument = String(Math.abs(parseInt(matches[i].argument)).toString(16));
								substitution = sprintfWrapper.convert(matches[i]);
							}
							else if (matches[i].code == 'X') {
								matches[i].argument = String(Math.abs(parseInt(matches[i].argument)).toString(16));
								substitution = sprintfWrapper.convert(matches[i]).toUpperCase();
							}
							else {
								substitution = matches[i].match;
							}

							newString += strings[i];
							newString += substitution;

						}
						newString += strings[i];

						return newString;

					},

					convert : function(match, nosign){
						if (nosign) {
							match.sign = '';
						} else {
							match.sign = match.negative ? '-' : match.sign;
						}
						var l = match.min - match.argument.length + 1 - match.sign.length;
						var pad = new Array(l < 0 ? 0 : l).join(match.pad);
						if (!match.left) {
							if (match.pad == "0" || nosign) {
								return match.sign + pad + match.argument;
							} else {
								return pad + match.sign + match.argument;
							}
						} else {
							if (match.pad == "0" || nosign) {
								return match.sign + match.argument + pad.replace(/0/g, ' ');
							} else {
								return match.sign + match.argument + pad;
							}
						}
					}
				}

				sprintf = sprintfWrapper.init;



				{/literal}
			</script>
		{/if}
		<div id="load-div" style="padding: 5px 10px 0 0; text-align: right; color: #FF9900; display: none;width:40%;float:right;"><img src="images/top_loader.gif" width="16" height="16" alt="{$lang.loading}" style="vertical-align: middle" /> {$lang.loading}</div>
	</div>
</div>

<!-- end header -->
<script type="Text/Javascript" language="JavaScript">
<!--
  Ajax.call('cloud.php?is_ajax=1&act=cloud_remind','', cloud_api, 'GET', 'JSON');
    function cloud_api(result)
    {
      //alert(result.content);
      if(result.content=='0')
      {
        document.getElementById("cloud_list").style.display ='none';
      }
      else
       {
         document.getElementById("cloud_list").innerHTML =result.content;
      }
    } 
   function cloud_close(id)
    {
      Ajax.call('cloud.php?is_ajax=1&act=close_remind&remind_id='+id,'', cloud_api, 'GET', 'JSON');
    }
  //-->
 </script> 
<ul id="lilist" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
  {foreach from=$warning_arr item=warning}
  <li class="Start315">{$warning}</li>
  {/foreach}
</ul>
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
 <!-- <script type="text/javascript" src="http://bbs.ecshop.com/notice.php?v=1&n=8&f=ul"></script>-->
</ul>
<!-- directory install end -->
<!-- start personal message -->
{if $admin_msg}
<div class="list-div" style="border: 1px solid #CC0000">
  <table cellspacing='1' cellpadding='3'>
    <tr>
      <th>{$lang.pm_title}</th>
      <th>{$lang.pm_username}</th>
      <th>{$lang.pm_time}</th>
    </tr>
    {foreach from=$admin_msg item=msg}
      <tr align="center">
        <td align="left"><a href="message.php?act=view&id={$msg.message_id}">{$msg.title|truncate:60:"..."}</a></td>
        <td>{$msg.user_name}</td>
        <td>{$msg.send_date}</td>
      </tr>
    {/foreach}
  </table>
  </div>
<br />
{/if}
<!-- end personal message -->
<!-- start order statistics -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.order_stat}</th>
  </tr>
  <tr>
    <td width="20%"><a href="order.php?act=list&composite_status={$status.await_ship}">{$lang.await_ship}</a></td>
    <td width="30%"><strong style="color: red">{$order.await_ship}</strong></td>
    <td width="20%"><a href="order.php?act=list&composite_status={$status.unconfirmed}">{$lang.unconfirmed}</a></td>
    <td width="30%"><strong>{$order.unconfirmed}</strong></td>
  </tr>
  <tr>
    <td><a href="order.php?act=list&composite_status={$status.await_pay}">{$lang.await_pay}</a></td>
    <td><strong>{$order.await_pay}</strong></td>
    <td><a href="order.php?act=list&composite_status={$status.finished}">{$lang.finished}</a></td>
    <td><strong>{$order.finished}</strong></td>
  </tr>
  <tr>
    <td><a href="goods_booking.php?act=list_all">{$lang.new_booking}</a></td>
    <td><strong>{$booking_goods}</strong></td>
    <td><a href="user_account.php?act=list&process_type=1&is_paid=0">{$lang.new_reimburse}</a></td>
    <td><strong>{$new_repay}</strong></td>
  </tr>
  <tr>
    <td><a href="order.php?act=list&composite_status={$status.shipped_part}">{$lang.shipped_part}</a></td>
    <td><strong>{$order.shipped_part}</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
<!-- end order statistics -->
<br />
<!-- start goods statistics -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.goods_stat}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.goods_count}</td>
    <td width="30%"><strong>{$goods.total}</strong></td>
    <td width="20%"><a href="goods.php?act=list&stock_warning=1">{$lang.warn_goods}</a></td>
    <td width="30%"><strong style="color: red">{$goods.warn}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_new">{$lang.new_goods}</a></td>
    <td><strong>{$goods.new}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_best">{$lang.recommed_goods}</a></td>
    <td><strong>{$goods.best}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_hot">{$lang.hot_goods}</a></td>
    <td><strong>{$goods.hot}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_promote">{$lang.sales_count}</a></td>
    <td><strong>{$goods.promote}</strong></td>
  </tr>
</table>
</div>
<br />
<!-- Virtual Card -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.virtual_card_stat}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.goods_count}</td>
    <td width="30%"><strong>{$virtual_card.total}</strong></td>
    <td width="20%"><a href="goods.php?act=list&amp;stock_warning=1&amp;extension_code=virtual_card">{$lang.warn_goods}</a></td>
    <td width="30%"><strong style="color: red">{$virtual_card.warn}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_new&amp;extension_code=virtual_card">{$lang.new_goods}</a></td>
    <td><strong>{$virtual_card.new}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_best&amp;extension_code=virtual_card">{$lang.recommed_goods}</a></td>
    <td><strong>{$virtual_card.best}</strong></td>
  </tr>
  <tr>
    <td><a href="goods.php?act=list&amp;intro_type=is_hot&amp;extension_code=virtual_card">{$lang.hot_goods}</a></td>
    <td><strong>{$virtual_card.hot}</strong></td>
    <td><a href="goods.php?act=list&amp;intro_type=is_promote&amp;extension_code=virtual_card">{$lang.sales_count}</a></td>
    <td><strong>{$virtual_card.promote}</strong></td>
  </tr>
</table>
</div>
<!-- end order statistics -->
<br />
<!-- start access statistics -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.acess_stat}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.acess_today}</td>
    <td width="30%"><strong>{$today_visit}</strong></td>
    <td width="20%">{$lang.online_users}</td>
    <td width="30%"><strong>{$online_users}</strong></td>
  </tr>
  <tr>
    <td><a href="user_msg.php?act=list_all">{$lang.new_feedback}</a></td>
    <td><strong>{$feedback_number}</strong></td>
    <td><a href="comment_manage.php?act=list">{$lang.new_comments}</a></td>
    <td><strong>{$comment_number}</strong></td>
  </tr>
</table>
</div>
<!-- end access statistics -->
<br />
<!-- start system information -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">{$lang.system_info}</th>
  </tr>
  <tr>
    <td width="20%">{$lang.os}</td>
    <td width="30%">{$sys_info.os} ({$sys_info.ip})</td>
    <td width="20%">{$lang.web_server}</td>
    <td width="30%">{$sys_info.web_server}</td>
  </tr>
  <tr>
    <td>{$lang.php_version}</td>
    <td>{$sys_info.php_ver}</td>
    <td>{$lang.mysql_version}</td>
    <td>{$sys_info.mysql_ver}</td>
  </tr>
  <tr>
    <td>{$lang.safe_mode}</td>
    <td>{$sys_info.safe_mode}</td>
    <td>{$lang.safe_mode_gid}</td>
    <td>{$sys_info.safe_mode_gid}</td>
  </tr>
  <tr>
    <td>{$lang.socket}</td>
    <td>{$sys_info.socket}</td>
    <td>{$lang.timezone}</td>
    <td>{$sys_info.timezone}</td>
  </tr>
  <tr>
    <td>{$lang.gd_version}</td>
    <td>{$sys_info.gd}</td>
    <td>{$lang.zlib}</td>
    <td>{$sys_info.zlib}</td>
  </tr>
  <tr>
    <td>{$lang.ip_version}</td>
    <td>{$sys_info.ip_version}</td>
    <td>{$lang.max_filesize}</td>
    <td>{$sys_info.max_filesize}</td>
  </tr>
  <tr>
    <td>{$lang.ecs_version}</td>
    <td>{$ecs_version} RELEASE {$ecs_release}</td>
    <td>{$lang.install_date}</td>
    <td>{$install_date}</td>
  </tr>
  <tr>
    <td>{$lang.ec_charset}</td>
    <td>{$ecs_charset}</td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
{literal}
{insert_scripts files="../js/utils.js"}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  /* 检查订单 */
  startCheckOrder();
}
  Ajax.call('index.php?is_ajax=1&act=main_api','', start_api, 'GET', 'TEXT','FLASE');
  //Ajax.call('cloud.php?is_ajax=1&act=cloud_remind','', cloud_api, 'GET', 'JSON');
   function start_api(result)
    {
      apilist = document.getElementById("lilist").innerHTML;
      document.getElementById("lilist").innerHTML =result+apilist;
      if(document.getElementById("Marquee") != null)
      {
        var Mar = document.getElementById("Marquee");
        lis = Mar.getElementsByTagName('div');
        //alert(lis.length); //显示li元素的个数
        if(lis.length>1)
        {
          api_styel();
        }      
      }
    }
 
      function api_styel()
      {
        if(document.getElementById("Marquee") != null)
        {
            var Mar = document.getElementById("Marquee");
            if (Browser.isIE)
            {
              Mar.style.height = "52px";
            }
            else
            {
              Mar.style.height = "36px";
            }
            
            var child_div=Mar.getElementsByTagName("div");

        var picH = 16;//移动高度
        var scrollstep=2;//移动步幅,越大越快
        var scrolltime=30;//移动频度(毫秒)越大越慢
        var stoptime=4000;//间断时间(毫秒)
        var tmpH = 0;
        
        function start()
        {
          if(tmpH < picH)
          {
            tmpH += scrollstep;
            if(tmpH > picH )tmpH = picH ;
            Mar.scrollTop = tmpH;
            setTimeout(start,scrolltime);
          }
          else
          {
            tmpH = 0;
            Mar.appendChild(child_div[0]);
            Mar.scrollTop = 0;
            setTimeout(start,stoptime);
          }
        }
        setTimeout(start,stoptime);
        }
      }
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
