<admintpl file="header"/>
<style>
.home_info li em { float: left;width: 120px;font-style: normal;}
li {list-style: none;}
</style>
</head>

<body>
<div class="wrap">
  <div id="home_toptip"></div>
  <h4 class="well">系统通知</h4>
  <div class="home_info">
    <ul  id="thinkcmf_notices">
    	<li><img src="__TMPL__assets/images/loading.gif"  style="vertical-align: middle;"/><span style="display:inline-block;vertical-align: middle;">加载中...</span></li>
    </ul>
  </div>
  <h4 class="well">系统信息</h4>
  <div class="home_info">
    <ul>
      <volist name="server_info" id="vo">
        <li> <em>{$key}</em> <span>{$vo}</span> </li>
      </volist>
    </ul>
  </div>
  <h4 class="well">发起团队</h4>
  <div class="home_info" id="home_devteam">
    <ul>
      <li> <em>ThinkCMF团队</em> <span>www.thinkcmf.com</span> </li>
      <li> <em>团队成员</em> <span>Dean,Sam,Tuolaji,Smile,Codefans,睡不醒的猪,Jack,日本那只猫</span> </li>
      <li> <em>联系邮箱</em> <span>cmf@simplewind.net</span> </li>
    </ul>
  </div>
  <h4 class="well">贡献者</h4>
  <div class="" >
    <ul class="inline" style="margin-left: 25px;">
      <li>Kin Ho</li>
      <li>Powerless</li>
      <li>Jess</li>
      <li>木兰情</li>
      <li>Labulaka</li>
      <li>WelKinVan</li>
      <li>Jeson</li>
      <li>Yim</li>
      <li>Jamlee</li>
    </ul>
  </div>
</div>
<script src="__ROOT__/statics/js/common.js"></script> 
<script>
//获取官方通知
$.getJSON("http://www.thinkcmf.com/service/sms_jsonp.php?callback=?",function(data){
	var tpl='<li><em class="title"></em><span class="content"></span></li>';
	var $thinkcmf_notices=$("#thinkcmf_notices");
	$thinkcmf_notices.empty();
	if(data.length>0){
		$.each(data,function(i,n){
			var $tpl=$(tpl);
			$(".title",$tpl).html(n.title);
			$(".content",$tpl).html(n.content);
			$thinkcmf_notices.append($tpl);
		});
	}else{
		$thinkcmf_notices.append("<li>^_^,没有通知~~</li>");
	}
	
});
</script>
</body>
</html>