<admintpl file="header" />
</head>
<body class="J_scroll_fixed">
	<div class="wrap J_check_wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('storage/index')}">文件存储</a></li>
		</ul>
		<div class="common-form">
			<form method="post" class="form-horizontal J_ajaxForm" action="{:U('storage/setting_post')}">
				<php>$support_storages=array("Local"=>"系统默认","Qiniu"=>"七牛云存储");</php>
				<select name="type">
					<foreach name="support_storages" item="vo"> <php>$type_selected=$type==$key?"selected":"";</php>
					<option value="{$key}"{$type_selected}>{$vo}</option>
					</foreach>
				</select>
				<div style="margin-top: 10px;">
					<ul class="nav nav-tabs">
						<li class="active"><a>七牛云存储</a></li>
					</ul>

					<fieldset>
						<div class="control-group">
							<label class="control-label">AccessKey</label>
							<div class="controls">
								<input type="text" class="input mr5" name="Qiniu[accessKey]" value="{$Qiniu.accessKey}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">SecretKey</label>
							<div class="controls">
								<input type="text" class="input mr5" name="Qiniu[secrectKey]" value="{$Qiniu.secrectKey}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">空间域名</label>
							<div class="controls">
								<input type="text" class="input mr5" name="Qiniu[domain]" value="{$Qiniu.domain}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">空间名称</label>
							<div class="controls">
								<input type="text" class="input mr5" name="Qiniu[bucket]" value="{$Qiniu.bucket}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">获取AccessKey</label>
							<div class="controls">
								<a href="https://portal.qiniu.com/signup?code=3lfihpz361o42" target="_blank">马上获取</a>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">七牛专享优惠码</label>
							<div class="controls">
								<a href="http://www.thinkcmf.com/topic/topic/index/id/103.html" target="_blank">507670e8</a>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary btn_submit J_ajax_submit_btn">确定</button>
				</div>
			</form>
		</div>
	</div>
	<script src="__ROOT__/statics/js/common.js"></script>
</body>
</html>